* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin: 0px;
}

.project_container {
    padding-top: clamp(40px, 10vw, 80px);
}

.project-title {


    /* width:10%; */
    margin-bottom: clamp(10px, 1vw, 20px);
}

.project-image {
    width: 115px;
    border-radius: 30px;
    background-color: #e8e4fd;
}

.social-p {
    margin: 0px !important;
    padding: 0px;
    font-size: clamp(10px, 1rem, 14px);
    padding: 5px 15px;
    color: #53389e;
    font-weight: 600;
}
.project-col{
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-title {
    font-weight: 600;
    font-size: clamp(18px, 2rem, 36px);
}

.project-p {
    color: #797979;
    font-size: clamp(12px, 1rem, 16px);
    font-weight: 400;
    line-height: 24px;
    vertical-align: middle;
    margin-top: clamp(10px, 1vw, 20px);
    padding-bottom: clamp(23px, 4vw, 46px);
}
.project-image1{
    width: 90%;
    border-radius: 20px;
}
.project-row{
    margin-bottom: clamp(50px, 10vw, 100px);
}