.voilet {
    color: #6941c6;
}
.navbar{
    background-color: white!important;
}
.navh1 {
    font-weight: 700;
    letter-spacing: 0.5px;
}

.call {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color: #6941c6;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.calli {
    color: white;
    font-size: 25px;
}

.maincall {
    display: flex;
    gap: 10px;
}

.p {
    margin: 0px;
    padding-top: 0px;
}

.num {
    display: flex;
    justify-content: center;
    align-items: center;
}