.second {
    padding-top: clamp(25px, 15vh, 100px);
}

.para12 {
    width: 195px;
    height: 40px;
    padding: 10px 20px;
    border-radius: 32px;
    background-color: #e9d7fe;
    color: #6941C6;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 20px;
}

@media (max-width:972px) {
    .para12 {
        margin-top: 100px;
    }

    .designn {
        margin-left: 0px !important;
    }
}

.h4 {
    font-weight: 600 !important;
    font-size: 34px !important;
    line-height: 100%;
}

.para13 {
    font-weight: 400;
    font-size: clamp(10px, 1rem, 16px);
    color: #797979;
    padding-bottom: 25px;
}

.design {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    width: 80%;
    padding: 20px 20px;
    border-radius: 50px;
    transition-duration: 0.8s;
}

.design1 {
    height: 60px;
    width: 60px;
    background-color: #6941C6;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.verify {
    height: 30px;
    width: 30px;
}

.designn {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    margin-left: 80px;
    width: 80%;
    padding: 20px 20px;
    border-radius: 50px;
    transition-duration: 0.8s;
}

.designn:hover,
.design:hover {
    background-color: #8f67ed49;
}

.sb {
    padding-top: 50px;
}