@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
   font-family: "Inter", sans-serif;
}

.insta {
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 10px;
}

body {
   background-color: #f3f6fd;
}

.df {
   display: flex;
   gap: 40px;
}

.inner {
   height: 50px;
   width: 50px;
   background-color: #7f56d9;
   border-radius: 50%;
   display: flex;
   justify-content: center;
}

.divclas {
   padding-left: 60px;
}