* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.footer {
    background-color: #101828;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px 0px;
}

.footer-col1 {
    width: 100%;
    background-color: #1d2939;
    padding: 20px 20px;
    border-radius: 20px;
}

.footerimg {
    height: 25px !important;
    width: 130px !important;
    ;
    /* padding-bottom: 20px; */
    /* border-bottom:1px solid #fff; */
}

.details {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    gap: 20px;
}

.details-main {
    padding-top: 50px;
}

.details {
    padding-top: 50px;
    border-top: 1px solid #ffffff3f;
}

.detail {
    display: flex;
    gap: 20px;
    padding-top: 10px;
}

.ficon {
    color: #9747ff;
}

.footer2,
.footer3 {
    padding: 0px 40px;
}

.footer-head {
    font-size: clamp(16px, 2rem, 24px);
    font-weight: 600;
    margin-bottom: clamp(10px, 4vw, 20px);
}

.footer-p {
    font-size: clamp(10px, 2rem, 14px);
    font-weight: 600;
    padding-bottom: clamp(10px, 4vw, 20px);
    vertical-align: middle;
}

.social-icons {
    display: flex;
    gap: 20px;
}

.soc-icon {
    height: 40px;
    width: 40px;
    background-color: #9747ff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
}

.newsletter-input {
    border: none;
    height: 40px;
    width: 100%;
    border-radius: 20px;
}

input::placeholder {
    padding: 0px 20px;
}

.newsletter-btn {
    background-color: #1D2939;
    transform: translate(120px, -35px);
    width: 100px;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 14px;
}

.content {
    font-size: 14px;
    color: #000;
    font-weight: 600;
    color: #89919E;
    padding-bottom: clamp(10px, 4vw, 20px);
}
.footer-container{
    padding-bottom: clamp(30px, 6vw, 60px);
}
.footer-bottom{
    background-color: #101828;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #ffffff3f;
}
.footer-copyright{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}
.footer-bottom-p{
    color: #f9f5ff72;
    font-size: 14px;
}